
<div class="col-xs-3">
  <%= link_to image_tag(@image.image.thumb('180x180#').url, alt: @image.title, class: 'img-thumbnail'),
              @image.image.url , target: '_blank' %>
  <p><%= @image.title %></p>
</div>

<div class="container">
<div class="row">
<aside class="span4">

<fieldset>
<legend>General Informations</legend>
  Dimension:<br>
    <input type="text" value="<%= "#{@exif.width}  x  #{@exif.height}" %>" id="dimension">
    <br>
    Original date:<br>
    <input type="text" value="<%= @exif.date_time_original %>" id="originalDate">
  <br>
    Model:<br>
    <input type="text" value="<%= @exif.model %>" id="model">
  <br>
    Last changes:<br>
    <input type="text" value="<%= @exif.date_time %>" id="lastChanges">
    <br><br>
</fieldset>
</aside>
<aside class="span4">
<fieldset>
<legend>Geolocalisation</legend>
  GPS Latitude:<br>
    <input type="text" value="<%= @exif.gps_latitude %>" id="latitude">
    <br>
    GPS Longitude:<br>
    <input type="text" value="<%= @exif.gps_longitude %>" id="longitude">
  <br>
    GPS Altitude:<br>
    <input type="text" value="<%= @exif.gps_altitude %>" id="altitude">
  <br>
    Address:<br>
    <input type="text" value="<%= @address.data["formatted_address"] if ! @address.blank? %>" id="address">
  <br><br>
</fieldset>
</aside>
<aside class="span4">
<fieldset>
<legend>Technical Informations</legend>
  Exposition Time (s):<br>
    <input type="text" value="<%= @exif.exposure_time.to_s %>" id="expositionTime">
    <br>
    Focal Length (mm):<br>
    <input type="text" value="<%= @exif.focal_length.to_i %>" id="focalLength">
  <br>
    ISO Speed Rate:<br>
    <input type="text" value="<%= @exif.iso_speed_ratings %>" id="ISO">
  <br>
    Compression Rate:<br>
    <input type="text" value="<%= @exif.compressed_bits_per_pixel %>" id="compressionRate">
    <br><br>
</fieldset>
</aside>
<div class="col-xs-3">
  <input type="button" class="btn btn-large btn-primary" value = "Download with new exif data"  />
</div
</div>
</div>





